name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 2.5
          - 2.6
          - 2.7
          - 3.0
          - ruby-head
          - jruby
        gemfile:
          - ar52
          - ar60
          - ar61
          - ar-head
        exclude:
          - gemfile: ar52
            ruby: 3.0
          - gemfile: ar52
            ruby: ruby-head
    continue-on-error: ${{ matrix.ruby == 'jruby' || matrix.ruby == 'ruby-head' || matrix.gemfile == 'ar-head' }}
    services:
      postgres:
        image: postgis/postgis:12-3.1
        ports:
          - 5432:5432
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
          POSTGRES_DB: makara_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: makara_test
        ports:
          - 3306:3306
        options: >-
          --health-cmd "mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
       BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
       JRUBY_OPTS: --dev -J-Xmx1024M
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: |
          bundle exec rake
        env:
          PGHOST: localhost
          PGUSER: postgres
          MYSQL_HOST: 127.0.0.1
          RAILS_ENV: test
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0
          bundler-cache: true
      - run: |
          bundle exec rubocop --parallel --color
